* {
    padding: 0;
    margin: 0;
}

.layout {
    display: flex;
    flex: 1;
}

.nav-menu {
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #51834d;
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.nav-menu a .menu-item {
    padding: 12px;
}

.nav-menu a .menu-item {
    color: #fff;
}

.page-container {
    margin-top: 52px;
    padding: 32px;
}

.table {
  /*display: flex;*/
  /*width:800px;*/
  border-bottom: 1px solid gray;
  line-height: 32px;
}

.form-lable{
    width: 350px;
    display: flex;
    justify-content: space-between;

}

.form-button{
    border-radius: 4px;
    padding: 6px 12px;

}
